/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    color: #0c2644;
    background-image: linear-gradient(90deg, #f5df99, #fccbbc);
    font-family: 'Source Code Pro', monospace;
}

/* Header - H1 styling */
h1 {
    text-align: center;
    background-color: rgba(90, 144, 206, 0.3);
    margin: 2rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
}

/* Main Content */

/* Score Display  */
h2 {
    text-align: center;
    margin: 1rem 2rem;
    font-size: 1rem;
    background-color: rgba(90, 144, 206, 0.388);
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
}

.game-score-display-div {
    display: flex;
    justify-content: space-around;
}

.game-score-display-div p {
    font-size: 0.7rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #0c2644;
    font-weight: bold;
}

#user-score-display {
    background-color: #fcf8cf;
    border-right-width: 1px;
    border-top-left-radius: 1rem;
}

#computer-score-display {
    background-color: #fde1d6;
    border-right-width: 1px;
    border-bottom-right-radius: 1rem;
}

/* Game Result Display Section  */

.choice-div {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

h3 {
    font-size: 1rem;
    background-color: rgb(12, 39, 69, 0.7);
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    line-height: 2.5rem;
}

#user-choice-placeholder,
#computer-choice-placeholder {
    font-size: 4rem;
}

/* User Choice Section  */

.fa-choice-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.choice-icons {
    background-color: #ffffff91;
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 200ms;
}

#fire-choice {
    color: rgb(255, 0, 0);
}

#water-choice {
    color: rgb(5, 79, 240);
}

#air-choice {
    color: rgb(135, 161, 207);
}

#ice-choice {
    color: rgb(0, 204, 255);
}

/* Modal Section */

#modal {
    background-color: #fcf8cf;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    overflow-x: auto;
    white-space: wrap;
    padding: 1.5rem;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
    border-radius: 1rem;
    /* display: none; */
    z-index: 10;
}

/* Modal Header */

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Modal Title */

.modal-title {
    font-size: 1rem;
    font-weight: bold;
}

/* Modal Button */

#close-modal-btn {
    padding: 0.3rem 0.5rem;
    background-color: rgba(90, 144, 206, 0.3);
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Modal Content */

.modal-content {
    font-size: 1rem;
}