/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    color: #0c2644;
    background-image: linear-gradient(90deg, #f5df99, #fccbbc);
    font-family: 'Source Code Pro', monospace;
}

/* Header - H1 styling */
h1 {
    text-align: center;
    background-color: rgba(90, 144, 206, 0.3);
    margin: 2rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
}

/* Main Content */

/* Score Display  */
h2 {
    text-align: center;
    margin: 1rem 2rem;
    font-size: 1rem;
    background-color: rgba(90, 144, 206, 0.388);
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
}

.game-score-display-div {
    display: flex;
    justify-content: space-around;
}

.game-score-display-div p {
    font-size: 0.7rem;
    width: 50%;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #0c2644;
    font-weight: bold;
}

#user-score-display {
    background-color: #fcf8cf;
    border-right-width: 1px;
    border-top-left-radius: 1rem;
}

#computer-score-display {
    background-color: #fde1d6;
    border-right-width: 1px;
    border-bottom-right-radius: 1rem;
}

/* Game Result Display Section  */

.choice-div {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

h3 {
    font-size: 1rem;
    background-color: rgb(12, 39, 69, 0.7);
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    line-height: 2.5rem;
}

#user-choice-placeholder,
#computer-choice-placeholder {
    font-size: 4rem;
}

/* User Choice Section  */

.fa-choice-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;
}

.choice-icons {
    background-color: #ffffff91;
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 200ms;
}

#fire-choice {
    color: rgb(255, 0, 0);
}

#water-choice {
    color: rgb(5, 79, 240);
}

#air-choice {
    color: rgb(135, 161, 207);
}

#ice-choice {
    color: rgb(0, 204, 255);
}

/* Modal Section */

#modal {
    background-color: #fcf8cf;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    overflow-x: auto;
    white-space: normal;
    padding: 1.5rem;
    box-shadow: 4px 4px 7px rgb(12, 39, 69);
    border-radius: 1rem;
    display: none;
    z-index: 10;
}

/* Modal Header */

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Modal Title */

.modal-title {
    font-size: 1rem;
    font-weight: bold;
}

/* Modal Button */

#close-modal-btn {
    padding: 0.3rem 0.5rem;
    background-color: rgba(90, 144, 206, 0.3);
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
    cursor: pointer;
}

/* Modal Content */

.modal-content {
    font-size: 1rem;
}

.modal-content p {
    line-height: 1.3rem;
}

/* Color Spans Inside The Modal */

.fire-span {
    color: rgb(255, 0, 0);
    font-weight: 600;
}

.water-span {
    color: rgb(5, 79, 240);
    font-weight: 600;
}

.air-span {
    color: rgb(135, 161, 207);
    font-weight: 600;
}

.ice-span {
    color: rgb(0, 204, 255);
    font-weight: 600;
}

/* HR Tags and Overlay */

hr {
    height: 0px;
    border: none;
    border-top: 2px solid black;
}

#overlay {
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 100ms ease-in-out;
}

/* Footer */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(230, 170, 58);
    color: inherit;
}

/* Footer Link */

#footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/* Media Queries */

/* Media Query: screens (290px and up) */

@media screen and (min-width: 290px) {

    /* Score Section */

    .game-score-display-div p {
        font-size: 0.6rem;
    }
}

/* Media Query: screens (320px and up) */

@media screen and (min-width: 320px) {

    /* Header And How To Play Section*/
    h1,
    h2 {
        margin: 1rem 4rem;
    }

    /* Score Section */

    .game-score-display-div p {
        font-size: 0.7rem;
    }
}

/* Media query: tablets and larger (768px and up)*/

@media screen and (min-width: 768px) {

    /* Header And How To Play Section*/

    h1,
    h2 {
        font-size: 1.5rem;
        margin: 1rem 7rem;
    }

    /* Game Result Display Section */

    h3 {
        font-size: 1.3rem;
        padding: 1rem 4rem;
        border-radius: 1rem;
        line-height: 2.5rem;
    }

    /* Score Section */

    .game-score-display-div p {
        font-size: 1rem;
    }

    /* User Choice Section */

    .fa-choice-icon {
        margin-top: 6rem;
    }

    /* Modal Title */

    .modal-title {
        font-size: 2rem;
    }

    /* Modal Close Button */

    #close-modal-btn {
        padding: 0.5rem 0.8rem;
    }

    /* Footer */

    #footer {
        padding: 0.3rem;
    }
}

/* Media query: laptops and larger screens (992px and up) */

@media screen and (min-width: 992px) {

    /* Header And How To Play Section*/

    h1,
    h2 {
        font-size: 1.5rem;
        margin: 2rem 9rem;
    }

    h2:hover {
        color: #fff;
        background-color: #0c2644;
    }

    /* Score Section */

    .game-score-display-div p {
        font-size: 1.5rem;
    }

    /* User Choice Section */

    .fa-choice-icon {
        margin-top: 4rem;
    }

    .choice-icons {
        font-size: 2rem;
    }

    .choice-icons:hover {
        box-shadow: 4px 4px 7px rgb(12, 39, 69);
    }

    /* Footer */

    #footer a:hover {
        color: rgb(118, 19, 199);
    }

}

/* Media query: larger screens (1024px and up) */

@media screen and (min-width: 1024px) {

    /* How To Play Section */

    h2 {
        font-size: 1.8rem;
    }

    /* Game Result Display Section */

    #user-choice-placeholder,
    #computer-choice-placeholder {
        font-size: 5rem;
    }

    /* User Choice Section */

    .fa-choice-icon {
        margin-top: 8rem;
    }
}